/.cache/
__pycache__/
*.py[cod]
/dev/
games/bedwars.lua
games/bedwarsFix.lua
/profiles/
.DS_Store
loaderdev.lua
goaware_loader.log
goaware_loader_telemetry.jsonl
goaware_release.json
goaware/loader.log
goaware/loader_telemetry.jsonl
goaware/errors/
